<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
    body  {
        background-image: url("https://media.tenor.com/NQeckFlOw18AAAAd/twice-twice-meme.gif");
        background-repeat: repeat; 
        /*background-size: 300px 300px;
        background-size: auto;        
        background-color: #cccccc;
        background-size: 100% 100%;*/
    }
    div {
        text-align: justify;
        font-size: 18px;
        font-family: Arial;
        text-justify: inter-word;
    }
</style>
</head>
<body>
    <div>
        HIHIHAHA
    </p>
</body>